@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  @apply bg-brand-600 text-white hover:bg-brand-700 active:bg-brand-700 disabled:opacity-60 disabled:cursor-not-allowed;
}


